{% extends "base.html" %}

{% block content %}
  <h4>Add new music for artist: {{artist_name}}</h4>
  <form action="{{url_for('add_music', artist_id=artist_id)}}" method="post">
    <p>
        <label>Title</label>
        <input type="text" name="title" required>
    </p>
    <p>
        <label>Album name</label>
        <input type="text" name="album_name" required>
    </p>
    <p>
        <label>Genre</label>
        <input type="radio" name="genre" value="rnb">
        <label>Rnb</label>
        <input type="radio" name="genre" value="country">
        <label>Country</label>
        <input type="radio" name="genre" value="classic">
        <label>Classic</label>
        <input type="radio" name="genre" value="rock">
        <label>Rock</label>
        <input type="radio" name="genre" value="jazz">
        <label>Jazz</label>
    </p>
    <p>
        <input type="submit" value="Add New Song">
    </p>
  </form>
{% endblock %}