{% extends "base.html" %}

{% block content %}
  <form action="{{url_for('add_artist')}}" method="post">
    <p>
        <label>Name</label>
        {% if 'name' in artist_info %}
            <input type="text" name="name" value="{{artist_info['name']}}">
        {% else %}
            <input type="text" name="name">
        {% endif %}
        {% if 'name' in errors %}
            <small class="text-danger">{{ errors['name'] }}</small>
        {% endif %}
    </p>
    <p>
        <label>Address</label>
        {% if 'address' in artist_info %}
            <input type="text" name="address" value="{{artist_info['address']}}">
        {% else %}
            <input type="text" name="address">
        {% endif %}
        {% if 'address' in errors %}
            <small class="text-danger">{{ errors['address'] }}</small>
        {% endif %}
    </p>
    <p>
        <label>Gender</label>
        {% if 'gender' in artist_info %}
            {% if artist_info['gender'] == 'm' %}
                <input type="radio" name="gender" value="m" checked required>
            {% else %}
                <input type="radio" name="gender" value="m" required>
            {% endif %}
            <label>Male</label>
            {% if artist_info['gender'] == 'f' %}
                <input type="radio" name="gender" value="f" checked>
            {% else %}
                <input type="radio" name="gender" value="f">
            {% endif %}
            <label>Female</label>
            {% if artist_info['gender'] == 'o' %}
                <input type="radio" name="gender" value="o" checked>
            {% else %}
                <input type="radio" name="gender" value="o">
            {% endif %}
            <label>Other</label>
        {% else %}
            <input type="radio" name="gender" value="m" required>
            <label>Male</label>
            <input type="radio" name="gender" value="f">
            <label>Female</label>
            <input type="radio" name="gender" value="o">
            <label>Other</label>
        {% endif %}
        {% if 'gender' in errors %}
            <small class="text-danger">{{ errors['gender'] }}</small>
        {% endif %}
    </p>
    <p>
        <label>First Release Year</label>
        {% if 'first_release_year' in artist_info %}
            <input type="text" name="first_release_year" value="{{artist_info['first_release_year']}}">
        {% else %}
            <input type="text" name="first_release_year">
        {% endif %}
        {% if 'first_release_year' in errors %}
            <small class="text-danger">{{ errors['first_release_year'] }}</small>
        {% endif %}
    </p>
    <p>
        <label>No. of Albums Released</label>
        {% if 'no_of_albums_released' in artist_info %}
            <input type="text" name="no_of_albums_released" value="{{artist_info['no_of_albums_released']}}">
        {% else %}
            <input type="text" name="no_of_albums_released">
        {% endif %}
        {% if 'no_of_albums_released' in errors %}
            <small class="text-danger">{{ errors['no_of_albums_released'] }}</small>
        {% endif %}
    </p>
    <p>
        <label>Date of Birth</label>
        {% if 'dob' in artist_info %}
            <input type="date" name="dob" value="{{artist_info['dob']}}">
        {% else %}
            <input type="date" name="dob">
        {% endif %}
    </p>
    <p>
        <input type="submit" value="Add New Artist" class="btn btn-success">
    </p>
  </form>
{% endblock %}