<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Artist Management System</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/styles.css">
        <script src="/static/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="jumbotron text-center">
            <h1>Artist Management System</h1>
            <p>A simple admin panel</p> 
        </div>
        <div class="container">
            {% if is_user_logged_in == True %}
              <div class="row">
                <div class="col-sm-4">
                    <p>Name: {{username}}</p>
                    <p>Role: {{userrole}}</p>
                    </div>
                    <div class="col-sm-4 d-flex justify-content-center">
                    <p><a href="{{url_for('dashboard')}}">Return to dashboard</a></p>
                    </div>
                    <div class="col-sm-4 text-end">
                    <p><a href="{{url_for('logout')}}">Logout</a></p>
                </div>
                <hr class="border-bottom border-3 border-dark">
            </div>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>