{% extends "base.html" %}

{% block content %}
  <p>Name: {{username}}</p>
  <p>Role: {{userrole}}</p>
  <div class="row">
    {% if userrole == 'super_admin' %}
      <!--
      <a href="{{url_for('manage_user')}}">Manage User</a>
      ......
      <a href="{{url_for('manage_artist')}}">Manage Artist</a>
      -->
      <div class="col-sm-6">
        <h3><a href="{{url_for('manage_user')}}">Manage Users</a></h3>
        <ul>
        <li>List users with pagination</li>
        <li>Add new user</li>
        <li>Update existing user</li>
        <li>Delete existing user</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h3><a href="{{url_for('manage_artist')}}">Manage Artists</a></h3>
        <ul>
          <li>List artists with pagination</li>
          <li>Add new artist</li>
          <li>Update existing artist</li>
          <li>Delete existing artist</li>
        </ul>
      </div>
    {% endif %}
    {% if userrole == 'artist_manager' %}
      <!--
      <a href="{{url_for('manage_artist')}}">Manage Artist</a>
      -->
      <div class="col-sm-12">
        <h3><a href="{{url_for('manage_artist')}}">Manage Artists</a></h3>
        <ul>
          <li>List artists with pagination</li>
          <li>Add new artist</li>
          <li>Update existing artist</li>
          <li>Delete existing artist</li>
        </ul>
      </div>
    {% endif %}
    {% if userrole == 'artist' %}
      <!-- display current artist's songs -->
      <a>Manage Song</a>
    {% endif %}
  </div>
  <br/>
  <br/>
  <a href="{{url_for('logout')}}">Logout</a>
{% endblock %}