{% extends "base.html" %}

{% block content %}
  <div class="row">
    {% if userrole == 'super_admin' %}
      <!--
      <a href="{{url_for('manage_user')}}">Manage User</a>
      ......
      <a href="{{url_for('manage_artist')}}">Manage Artist</a>
      -->
      <div class="col-sm-6">
        <h3><a href="{{url_for('manage_user')}}" class="btn btn-success">Manage Users</a></h3>
        <ul>
        <li>List users with pagination</li>
        <li>Add new user</li>
        <li>Update existing user</li>
        <li>Delete existing user</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h3><a href="{{url_for('manage_artist')}}" class="btn btn-success">Manage Artists</a></h3>
        <ul>
          <li>List artists with pagination</li>
          <li>Add new artist</li>
          <li>Update existing artist</li>
          <li>Delete existing artist</li>
        </ul>
      </div>
    {% endif %}
    {% if userrole == 'artist_manager' %}
      <!--
      <a href="{{url_for('manage_artist')}}">Manage Artist</a>
      -->
      <div class="col-sm-12">
        <h3><a href="{{url_for('manage_artist')}}" class="btn btn-success">Manage Artists</a></h3>
        <ul>
          <li>List artists with pagination</li>
          <li>Add new artist</li>
          <li>Update existing artist</li>
          <li>Delete existing artist</li>
        </ul>
      </div>
    {% endif %}
    {% if userrole == 'artist' %}
      <!-- display current artist's songs -->
      <div class="col-sm-12">
        <a href={{url_for('list_songs')}} class="btn btn-success">View songs</a>
      </div>
    {% endif %}
  </div>
{% endblock %}