{% extends "base.html" %}

{% block content %}
  <p>Name: {{username}}</p>
  <p>Role: {{userrole}}</p>
  <h3>
    {% if userrole == 'super_admin' %}
      <a href="{{url_for('manage_user')}}">Manage User</a>
      ......
      <a href="{{url_for('manage_artist')}}">Manage Artist</a>
    {% endif %}
    {% if userrole == 'artist_manager' %}
      <a href="{{url_for('manage_artist')}}">Manage Artist</a>
    {% endif %}
    {% if userrole == 'artist' %}
      <!-- display current artist's songs -->
      <a>Manage Song</a>
    {% endif %}
  </h3>
  <br/>
  <br/>
  <a href="{{url_for('logout')}}">Logout</a>
{% endblock %}