{% extends "base.html" %}

{% block content %}
  <form action="{{url_for('edit_user',id=update_user_info['id'])}}" method="post">
    <p>
        <label>Email</label>
        <input type="text" name="email" value="{{update_user_info['email']}}" required>
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" name="password" required>
    </p>
    <p>
        <label>Firstname</label>
        <input type="text" name="first_name" id="first_name" value="{{update_user_info['first_name']}}" required>
    </p>
    <p>
        <label>Lastname</label>
        <input type="text" name="last_name" id="last_name" value="{{update_user_info['last_name']}}" required>
    </p>
    <p>
        <label>Gender</label>

        {% if update_user_info['gender'] == 'm' %}
            <input type="radio" name="gender" value="m" checked>
        {% else %}
            <input type="radio" name="gender" value="m">
        {% endif %}
        <label>Male</label>

        {% if update_user_info['gender'] == 'f' %}
            <input type="radio" name="gender" value="f" checked>
        {% else %}
            <input type="radio" name="gender" value="f">
        {% endif %}
        <label>Female</label>

        {% if update_user_info['gender'] == 'o' %}
            <input type="radio" name="gender" value="o" checked>
        {% else %}
            <input type="radio" name="gender" value="o">
        {% endif %}
        <label>Other</label>
    </p>
    <p>
        <label>Phone</label>
        <input type="text" name="phone" id="phone" value="{{update_user_info['phone']}}" required>
    </p>
    <p>
        <label>Address</label>
        <input type="text" name="address" id="address" value="{{update_user_info['address']}}" required>
    </p>
    <p>
        <label>Date of Birth</label>
        <input type="date" name="dob" id="dob" value={{update_user_info['dob']}} required>
    </p>
    <p>
        <label>Role</label>

        {% if update_user_info['role'] == 'super_admin' %}
            <input type="radio" name="role" value="super_admin" checked>
        {% else %}
            <input type="radio" name="role" value="super_admin">
        {% endif %}
        <label>Super Admin</label>

        {% if update_user_info['role'] == 'artist_manager' %}
            <input type="radio" name="role" value="artist_manager" checked>
        {% else %}
            <input type="radio" name="role" value="artist_manager">
        {% endif %}
        <label>Artist Manager</label>

        {% if update_user_info['role'] == 'artist' %}
            <input type="radio" name="role" value="artist" checked>
        {% else %}
            <input type="radio" name="role" value="artist">
        {% endif %}
        <label>Artist</label>
    </p>
    <p>
        <input type="submit" value="Complete Update" class="btn btn-success">
    </p>
  </form>
{% endblock %}