{% extends "base.html" %}

{% block content %}
  <h3><a href="{{url_for('add_music', artist_id=artist_id)}}">Add New Song</a></h3>
  <h3>Song List by Artist: {{artist_name}}</h3>
  <table style="border: 1px solid black; border-style: dotted;">
    <tr>
        <th>ID</th>
        <th>Artist ID</th>
        <th>Title</th>
        <th>Album Name</th>
        <th>Genre</th>
        <th>Action</th>
    </tr>
    {% for song in songlist %}
    <tr>
        <td>{{song['id']}}</td>
        <td>{{song['artist_id']}}</td>
        <td>{{song['title']}}</td>
        <td>{{song['album_name']}}</td>
        <td>{{song['genre']}}</td>
        <td>
            <a href={{url_for('edit_music', id=song.id)}}>Edit</a> ...
            <a href={{url_for('delete_music', id=song.id)}}>Delete</a>
        </td>
    </tr>
    {% endfor %}
  </table>
  <p>
    {% if current_page > 1 %}
      <a href="{{url_for('list_artist_songs', artist_id=artist_id)}}?page={{current_page-1}}">Prev</a>
    {% endif %}
    <span>{{current_page}} of {{total_page}}</span>
    {% if current_page < total_page %}
      <a href="{{url_for('list_artist_songs', artist_id=artist_id)}}?page={{current_page+1}}">Next</a>
    {% endif %}
  </p>
{% endblock %}