{% extends "base.html" %}

{% block content %}
  <h3><a href="{{url_for('add_artist')}}" class="btn btn-success">Add New Artist</a></h3>
  <h5>Artist List</h5>
  <table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Address</th>
        <th>First release year</th>
        <th>No of albums released</th>
        <th>Music</th>
        <th>Action</th>
    </tr>
    {% for artist in artistlist %}
    <tr>
        <td>{{artist['id']}}</td>
        <td>{{artist['name']}}</td>
        <td>{{artist['dob']}}</td>
        <td>{{artist['gender']}}</td>
        <td>{{artist['address']}}</td>
        <td>{{artist['first_release_year']}}</td>
        <td>{{artist['no_of_albums_released']}}</td>
        <td>
            <a href={{url_for('list_artist_songs', artist_id=artist.id)}} class="btn btn-primary">View songs</a>
        </td>
        <td>
            <a href={{url_for('edit_artist', id=artist.id)}} class="btn btn-success">Edit</a><span>&nbsp;&nbsp;&nbsp;</span> 
            <a href={{url_for('delete_artist', id=artist.id)}} class="btn btn-danger">Delete</a>
        </td>
    </tr>
    {% endfor %}
  </table>
  <p>
    {% if current_page > 1 %}
      <a href="{{url_for('manage_artist')}}?page={{current_page-1}}">Prev</a>
    {% endif %}
    <span>{{current_page}} of {{total_page}}</span>
    {% if current_page < total_page %}
      <a href="{{url_for('manage_artist')}}?page={{current_page+1}}">Next</a>
    {% endif %}
  </p>
  <div class="row">
      <div class="col-sm-6">
          <a href="{{url_for('import_artist')}}" class="btn btn-success">CSV Import</a>
      </div>
      <div class="col-sm-6 text-end">
          <a href="{{url_for('export_artist')}}" class="btn btn-success">CSV Export</a>
      </div>
  </div>

{% endblock %}