{% extends "base.html" %}

{% block content %}
  <p>Name: {{username}}</p>
  <p>Role: {{userrole}}</p>
  <h3><a href="{{url_for('add_artist')}}">Add New Artist</a></h3>
  <h3>Artist List</h3>
  <table style="border: 1px solid black; border-style: dotted;">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Address</th>
        <th>First release year</th>
        <th>No of albums released</th>
        <th>Music</th>
        <th>Action</th>
    </tr>
    {% for artist in artistlist %}
    <tr>
        <td>{{artist['id']}}</td>
        <td>{{artist['name']}}</td>
        <td>{{artist['dob']}}</td>
        <td>{{artist['gender']}}</td>
        <td>{{artist['address']}}</td>
        <td>{{artist['first_release_year']}}</td>
        <td>{{artist['no_of_albums_released']}}</td>
        <td>
            <a href={{url_for('list_artist_songs', artist_id=artist.id)}}>View songs</a>
        </td>
        <td>
            <a href={{url_for('edit_artist', id=artist.id)}}>Edit</a> ...
            <a href={{url_for('delete_artist', id=artist.id)}}>Delete</a>
        </td>
    </tr>
    {% endfor %}
  </table>
  <p>
    {% if current_page > 1 %}
      <a href="{{url_for('manage_artist')}}?page={{current_page-1}}">Prev</a>
    {% endif %}
    <span>{{current_page}} of {{total_page}}</span>
    {% if current_page < total_page %}
      <a href="{{url_for('manage_artist')}}?page={{current_page+1}}">Next</a>
    {% endif %}
  </p>
  <h3><a href="{{url_for('export_artist')}}">CSV Export</a> ... <a href="{{url_for('import_artist')}}">CSV Import</a></h3>
  <br/>
  <br/>
  <a href="{{url_for('dashboard')}}">Return to dashboard</a>
  <br/>
  <a href="{{url_for('logout')}}">Logout</a>
{% endblock %}