{% extends "base.html" %}

{% block content %}
  <p>Name: {{username}}</p>
  <p>Role: {{userrole}}</p>
  <h3>User List</h3>
  <table style="border: 1px solid black; border-style: dotted;">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Address</th>
    </tr>
    <tr>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
    </tr>
    <tr>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td>data</td>
    </tr>
  </table>
    
  <br/>
  <br/>
  <a href="{{url_for('logout')}}">Logout</a>
{% endblock %}