{% extends "base.html" %}

{% block content %}
  <p>Name: {{username}}</p>
  <p>Role: {{userrole}}</p>
  <h3>Artist List</h3>
  <table style="border: 1px solid black; border-style: dotted;">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Address</th>
        <th>First release year</th>
        <th>No of albums released</th>
    </tr>
    {% for artist in artistlist %}
    <tr>
        <td>{{artist['id']}}</td>
        <td>{{artist['name']}}</td>
        <td>{{artist['dob']}}</td>
        <td>{{artist['gender']}}</td>
        <td>{{artist['address']}}</td>
        <td>{{artist['first_release_year']}}</td>
        <td>{{artist['no_of_albums_released']}}</td>
    </tr>
    {% endfor %}
  </table>
    
  <br/>
  <br/>
  <a href="{{url_for('dashboard')}}">Return to dashboard</a>
  <br/>
  <a href="{{url_for('logout')}}">Logout</a>
{% endblock %}