{% extends "base.html" %}

{% block content %}
    {% if is_user_logged_in == False %}
    <div class="row">
        <div class="text-end">
        <div><a href="{{url_for('home')}}" class="btn btn-dark">Return to Home</a></div>
        </div>
    </div>
    {% endif %}
  <form action="{{url_for('signup')}}" method="post">
    <p>
        <label>Email</label>
        <input type="text" name="email" id="email" required>
    </p>
    <p>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
    </p>
    <p>
        <label>Firstname</label>
        <input type="text" name="first_name" id="first_name" required>
    </p>
    <p>
        <label>Lastname</label>
        <input type="text" name="last_name" id="last_name" required>
    </p>
    <p>
        <label>Gender</label>
        <input type="radio" name="gender" value="m">
        <label>Male</label>
        <input type="radio" name="gender" value="f">
        <label>Female</label>
        <input type="radio" name="gender" value="o">
        <label>Other</label>
    </p>
    <p>
        <label>Phone</label>
        <input type="text" name="phone" id="phone" required>
    </p>
    <p>
        <label>Address</label>
        <input type="text" name="address" id="address" required>
    </p>
    <p>
        <label>Date of Birth</label>
        <input type="date" name="dob" id="dob" required>
    </p>
    <p>
        <label>Role</label>
        <input type="radio" name="role" value="super_admin">
        <label>Super Admin</label>
        <input type="radio" name="role" value="artist_manager">
        <label>Artist Manager</label>
        <input type="radio" name="role" value="artist">
        <label>Artist</label>
    </p>
    <p>
        <input type="submit" value="Signup" class="btn btn-success">
    </p>
  </form>
{% endblock %}